hr { background-color: rgb(63, 61, 61); height: 1px; border: 0; }
body {
  background-color: rgb(25, 26, 26);
  color: rgb(240, 240, 240);
}
.navbar {
  background-color: rgb(25, 26, 26);
}

.navbar li a {
  color: rgb(194, 189, 189);
  margin-right: 10px;
}
.navbar-nav li a {
  color: rgb(194, 189, 189);
  margin-right: 10px;
}

.fa-search {
  color: white;
}
